.chat-container {
    background-image: url('../../assets/images/BodyBG_small.png');
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: -60px auto;
    overflow: auto;
    padding-top: 56px;
}

.loader-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.loader {
    animation: spin 2s linear infinite;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    height: 50px;
    width: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* For larger screens: */
@media only screen and (min-width: 400px) {
    .chat-container {
        background-image: url('../../assets/images/BodyBG_large.png');
    }
}
